<nav id="main-nav" class="navbar navbar-expand-lg navbar-light bg-light main-navbar">
<div class="container">
  <a class="navbar-brand" href="{{ path('/') }}"><b>Home</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('/books/show') }}">Add Book</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
       <div class="ml-2 mr-3"><span> </span> <b><span id="cart-net-amount"></span></b></div>
      <a id="btn-go-to-checkout" href="{{ path('/cart/show') }}" class="btn disabled btn-outline-success my-2 my-sm-0">View Cart</a>
    </div>
  </div>
</div>
</nav>